<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <label for="first-name">First Name:</label>
  <input id="first-name" type="text"  formControlName="firstName"><br>
  <label for="last-name">Last Name:</label>
  <input id="last-name" type="text" formControlName="lastName">
  <div formArrayName="aliases">
    <h2>Aliases</h2>
    <button type="button" (click)="addAlias()">+ Add another alias</button>
    @for (alias of aliases.controls; track i;let i = $index) {
      <div>
        <!-- The repeated alias template -->
        <label for="alias-{{ i}}">Alias:</label>
        <input id="alias-{{ i }}" type="text" [formControlName]="i">
        <button (click)="removeAlias(i)">- Remove</button>
      </div>
    }
  </div>
  <button type="submit" [disabled]="!profileForm.valid">Submit</button>
</form>

  
